.TodoItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px  solid;
    width: 100%;
    min-height: 50px;
    padding: 30px;
}

.TodoItem__content {
    display: flex;
    flex-direction: column;
    gap: 2px
}

.TodoItem__content h3 {
    font-size: 20px;
}

.TodoItem__content p {
    font-size: 18px;
}

.TodoItem__checkbox {
    cursor: pointer;
}
.TodoItem__checkbox:hover{
    opacity: 0.75;
    color: #5E60D2;
}

.TodoItem__checkbox.active  {
    color: #5E60D2;
}



.EditIcon{
    cursor: pointer;
    display: flex;
}
.EditIcon:hover{
    color: #d2d060;
}

.TodoItem__Btn{
    display: flex;
    align-items: center;
    gap: 15px;

}

.TrashIcon{
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.TrashIcon:hover{
    color: #d26062;
}