.button_add{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    padding: 15px;
    font-size: 14px;
    background: #5E60D2;
    border: 1px solid #fff;
    color: #fff;
}

.button_add:hover{
    background: #fff;
    color: #5E60D2;
    transition: 0.3s ease;
    border: 1px solid #5E60D2;
}